scopeName: "source.ledger"
name: "Ledger"
fileTypes: ["ledger"]
firstLineMatch: "-\\*-\\s*\\bledger\\b\\s*-\\*-"
patterns: [
  {include: "#comment_line"}
  {include: "#directive"}
  {include: "#transaction_uncleared"}
  {include: "#transaction_pending"}
  {include: "#transaction_cleared"}
  {include: "#automatic_transaction"}
]
repository:
  account:
    match: "\\b(([^\\s#%|\\*\\;\\(\\)\\]\\[] ?)+)\\b"
    name: "string.account"
  commodity:
    match: "([^\\s#%|\\*\\;\\(\\)\\]\\[]+)"
    name: "constant.other.symbol.commodity"
  comment_line:
    match: "^[\\;#%|\\*].*$"
    name: "comment.line"
  directive_account:
    match: "^(account)\\b\\s+(.*)"
    captures:
      1: {name: "keyword.account"}
      2: {patterns: [{include: "#account"}]}
  directive_commodity:
    match: "^(commodity)\\b\\s+(.*)"
    captures:
      1: {name: "keyword.commodity"}
      2: {patterns: [{include: "#commodity"}]}
  directive_others:
    match: "^(apply tag|end tag|alias|assert|bucket|capture|check|define|include|tag|year|Y)\\b"
    name: "keyword.directive"
  directive:
    match: "^[@!]?([A-Za-z].*)$"
    name: "meta.directive"
    captures:
      1:
         patterns: [
           {include: "#directive_account"}
           {include: "#directive_commodity"}
           {include: "#directive_others"}
         ]
  transaction_comment:
    name: "comment.transaction"
    match: "\\;.*$"
  transaction_number:
    match: "^\\(([\\d]+)\\)"
  transaction_payee:
    match: "(?x)
      ^ (\\(([\\d]+)\\))? \\s*
        (.*?)
        (\\s{2,}(\\;.*))? $
    "
    captures:
      1: {name: "constant.other.symbol.code"}
      3: {name: "string.payee.transaction"}
      5: {name: "comment.note.transaction"}
  account_and_amount:
    match: "(.+?)\\s{2,}(.*?)([\\-\\+]?\\d+([,\\.]\\d+)*)([^\\;]*)"
    captures:
      1:
         patterns: [
           {include: "#account"}
         ]
      2:
         patterns: [
           {include: "#commodity"}
         ]
      3: {name: "constant.numeric.amount"}
      5:
         patterns: [
           {include: "#commodity"}
         ]
  transaction_posting:
    name: "entity.transaction.posting"
    begin: "^(\\s+)"
    end: "$"
    patterns: [
      {include: "#transaction_comment"}
      {include: "#account_and_amount"}
      {include: "#account"}
    ]
  transaction_uncleared:
    name: "meta.transaction.uncleared"
    begin: "(?x)
      ^ ((?: \\d{4}[/-]\\d{2}?[/-]\\d{2}?|\\d{2}?[/-]\\d{2})
          (?: = (?: \\d{4}[/-]\\d{2}?[/-]\\d{2}?|\\d{2}?[/-]\\d{2}))?
        )
        \\s+ (?!([\\!\\*])) \\s* (.*) $
    "
    beginCaptures:
      1: {name: "constant.numeric.date.transaction"}
      3:
        name: "entity.payee.transaction",
        patterns: [
          {include: "#transaction_payee"}
        ]
    end: "(^\\s+$)|(?=(^\\S))"
    patterns: [{include: "#transaction_posting"}]
  transaction_pending:
    name: "meta.transaction.pending"
    begin: "(?x)
      ^ ((?: \\d{4}[/-]\\d{2}?[/-]\\d{2}?|\\d{2}?[/-]\\d{2})
          (?: = (?: \\d{4}[/-]\\d{2}?[/-]\\d{2}?|\\d{2}?[/-]\\d{2}))?
        )
        \\s+ (\\!) \\s* (.*) $
    "
    beginCaptures:
      1: {name: "constant.numeric.date.transaction"}
      2: {name: "keyword.transaction.pending"}
      3:
        name: "entity.payee.transaction",
        patterns: [
          {include: "#transaction_payee"}
        ]
    end: "(^\\s+$)|(?=(^\\S))"
    patterns: [{include: "#transaction_posting"}]
  transaction_cleared:
    name: "meta.transaction.cleared"
    begin: "(?x)
      ^ ((?: \\d{4}[/-]\\d{2}?[/-]\\d{2}?|\\d{2}?[/-]\\d{2})
          (?: = (?: \\d{4}[/-]\\d{2}?[/-]\\d{2}?|\\d{2}?[/-]\\d{2}))?
        )
        \\s+ (\\*) \\s* (.*) $
    "
    beginCaptures:
      1: {name: "constant.numeric.date.transaction"}
      2: {name: "keyword.transaction.cleared"}
      3:
        name: "entity.payee.transaction",
        patterns: [
          {include: "#transaction_payee"}
        ]
    end: "(^\\s+$)|(?=(^\\S))"
    patterns: [{include: "#transaction_posting"}]
  automatic_transaction:
    name: "meta.automatic.transaction"
    begin: "^(=)\\s*(.*)$"
    beginCaptures:
      1: {name: "keyword.automatic.transaction"}
      2: {name: "entity.name.function.expression"}
    end: "(^\\s+$)|(?=(^\\S))"
    patterns: [{include: "#transaction_posting"}]
